.sidenav {
    height: 100%; /* 100% Full-height */
    width: 13%; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; 
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
  }
  
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      color: white;
      display: block;
  }
  
  .sidenav a:hover {
      color: rgb(78, 180, 228);
  }
  
  .sidenav a {
      font-size: 27px;
  }
  
  body {
      margin: 1px;
      padding-top: 1px;
      padding-left: 15%;
      width: width;
      background-color:rgb(255, 255, 255)
  }
  
  nav ul, footer ul {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 0px;
      list-style: none;
      font-weight: bold;
  }
  nav ul li, footer ul li {
      display: inline;
      margin-right: 20px;
  }
  a {
      font-family: cursive;
      text-decoration: none;
      color: black;
  }
  a:hover {
      text-decoration: underline;
  }
  h1 {
      font-size: 5em;
      font-family: cursiveFont;
  }
  p {
      font-size: 1.5em;
      font-family: handwriting;
      line-height: 1.4em;
      color: #333;
  }
  footer {
      border-top: 1px solid #d5d5d5;
      font-size: .8em;
  }
  
  ul.posts { 
      margin: 20px auto 40px; 
      font-size: 1.5em;
  }
  
  ul.posts li {
      list-style: none;
  }
  
  @font-face{
      font-family: cursiveFont;
      src: url(michella_garden.woff);
  }
  
  @font-face{
      font-family: handwriting;
      src: url(cloudy.woff);
  }
  
  @media (max-width: 1078px) {
    .sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; 
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    }
    body {
      margin: 1px;
      padding-top: 1px;
      padding-left: 22%;
      width: window.width;
      background-color:rgb(255, 255, 255)
    }
  }
  
  
  
  
